version: "2"

services:
    app:
        build:
            context: .
        ports:
            - 8080
        labels:
            caas.lts: master
            caas.subdomain: app
    integration:
        build:
            context: ./tools/integration-example
        ports:
            - 8080
        labels:
            caas.lts: master
